{% extends "base.html" %}
{% load static %}

{% block title %}Item #{{ item.id }} - Inventory Management System{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/detail.css" %}">
{% endblock head %}

{% block content %}
<h1>{{ item.item_name }}</h1>
<p><strong>Category:</strong> {{ item.category }}</p>
<p><strong>Description:</strong> {{ item.description }}</p>
<p><strong>Quantity:</strong> {{ item.quantity }}</p>
<p><strong>Price:</strong> {{ item.price }}</p>
<p><strong>Vendor:</strong> {% if item.vendor_id %} <a href="{% url "vendor_details" vendor_id=item.vendor_id.id%}">{{ item.vendor_id.vendor_name }}</a>{% else %}No vendor assigned.{% endif %} </p>
<div class='inline-flex-container'>
{% if request.user.role != 'customer' %}
<a href="{% url 'item_update' item_id=item.id %}">Edit Item</a>
{% if request.user.role == 'admin' %}
<form action="{% url 'item_delete' item_id=item.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Delete Item</button>
</form>
{% endif %}
{% endif %}
</div>
{% endblock %}