{% extends "base.html" %}

{% block title %}Items List - Inventory Management System{% endblock %}

{% block content %}
<h1>Item list</h1>
<a href="{% url "item_create" %}">Add New Item</a>
<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Add to cart</th>
    </tr>
    {% for item in items %}
    {% if item.quantity or request.user.role == 'admin' %}
    <tr>
        <td><a href="{% url 'item_detail' item_id=item.id %}">{{ item.item_name }}</a></td>
        <td>{{ item.category }}</td>
        <td>{{ item.price }}</td>3
        <td><form action="{% url 'add_to_cart' item.id %}" method='post'>
            {% csrf_token %}
            <button type='submit'>Add to cart</button>
        </form></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}