{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/auth.css"%}">
    <title>Sign up - Inventory Management System</title>
</head>
    <body>
    <h1>Signup</h1>
        <form method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            {% for field in form %}
                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <button type="submit">Sign up</button>
            <a href="{% url 'login' %}">Cancel</a>
        </form> 
    </body>
</html>
