<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inventory Management System{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div>
        <a href="{% url "home" %}">Homepage</a>
        <a href="{% url "item_list" %}">Item list</a>
        <a href="{% url "vendor_list" %}">Vendors list</a>
        {% if request.user.is_authenticated and cart_id %}
        <a href="{% url "order_list" %}">Orders List</a>
        <a href="{% url "cart_detail" cart_id=cart_id %}">Go to cart</a>
        <form action="{% url "logout" %}" method='post'>
            {% csrf_token %}
            <button type='submit'>Logout</button>
        </form>
        {% else %}
        <form action="{% url "login" %}" method='post'>
            {% csrf_token %}
            <button type='submit'>Login</button>
        </form>
        {% endif %}
        
    </div>
    {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
     </ul>
    {% endif %}

    {% block content %}

    {% endblock %}
</body>
</html>